---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Header from '../components/Header.astro'
import heroImg from '../images/pifi-hero.webp'
import missionImg from '../images/gb-btc-flag.webp'
import whyImg from '../images/gb-btc-large-flag.webp'
import { Image } from 'astro:assets'
import SectionButton from '../components/SectionButton.astro'
---

<Layout title="Pi Finance UK">
  <main>
    <section>
      <Card class="hero-card" invertColor bgImageUrl={heroImg.src}>
        <Header />
        <div class="hero">
          <h1 class="hero-heading">
            Bridging Traditional Finance with the Future
          </h1>
        </div>
      </Card>
    </section>
    <section>
      <Card>
        <div class="mission-card">
          <div class="bodyText">
            <div>
              <label>Mission</label>
              <h2>
                Welcome to Pi Finance UK, London's Premier Web3 FinTech
                Innovator
              </h2>
              <p>
                Based in the heart of London, we merge the sophistication of
                traditional finance with the pioneering innovations of web3 to
                deliver unparalleled consulting and software solutions in the
                FinTech sector.
              </p>
            </div>
            <SectionButton href="#">Learn How</SectionButton>
          </div>
          <div class="image">
            <Image src={missionImg} alt="GB BTC Flag" />
          </div>
        </div>
      </Card>
    </section>
    <section class="alt">
      <Card
        invertColor
        bgImageUrl={whyImg.src}
        bgColor="rgba(0,0,0,0.6)"
        bgBlendMode="darken"
      >
        <div class="why-card">
          <div>
            <h2>Why Choose Pi Finance UK?</h2>
            <p>
              We bring our expertise to multiple construction sectors,
              developing the industry's future and redefining what is possible,
              one project at a time.
            </p>
          </div>
        </div>
      </Card>
    </section>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 100%;
  }
  section {
    padding: 2rem;
    margin-bottom: 3rem;
  }
  section.alt {
    background-color: var(--bg-alt-color);
  }
  .card p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .image > img {
    border-radius: 20px;
  }
  .hero-card {
    padding-top: 1.5rem;
  }
  .hero {
    height: 500px;
    display: flex;
    align-items: center;
  }
  .hero-heading {
    width: 30%;
  }
  .mission-card {
    display: flex;
    > div {
      margin-right: 2rem;
    }
    > div:last-child {
      margin-right: 0;
    }
  }
  .mission-card .bodyText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .why-card {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
